<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Demo app required user location </string>
	<key>NSLocationUsageDescription</key>
	<string>Demo app required user location </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Demo app required user location </string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Demo app required user location </string>
    
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb329212273332305</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.854201835217-612kv6i905688fta4pe7uqccv5ohl59r</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>329212273332305</string>
	<key>FacebookClientToken</key>
	<string>4e687f6808fcf86d7c72fcf0bbb77118</string>
	<key>FacebookDisplayName</key>
	<string>ArfofDemo</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>GIDClientID</key>
	<string>854201835217-612kv6i905688fta4pe7uqccv5ohl59r.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Sans.ttf</string>
		<string>Poppins-Medium.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
